/*
===================================================================================================
--- OPTIONS BAR -----------------------------------------------------------------------------------
===================================================================================================
*/

.options-bar {
    border-radius: 100vw;
    background-color: var(--primary);
    box-shadow: 0 10px 15px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    display: flex;
    margin: 0;
    margin-bottom: 2vh;
    height: 45px;
    position: relative;
}

.options-bar > li {
    align-items: center;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    height: 100%;
    justify-content: center;
    user-select: none;
}

.options-bar > li:last-child {
    border-radius: 0 100vw 100vw 0;
}

.options-bar > li:nth-child(2) {
    border-radius: 100vw 0 0 100vw;
}

.options-bar-selector {
    background-color: transparent;
    border-radius: 100vw;
    border: 5px var(--tertiary-50) solid;
    box-sizing: border-box;
    display: none;
    height: 100%;
    left: -2px;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 250ms ease;
    translate: (-50%, -50%);
}

/*
===================================================================================================
--- ALBUM DISPLAY ---------------------------------------------------------------------------------
===================================================================================================
*/

.album-compact-vertical {
    aspect-ratio: 1;
    background-color: var(--tertiary-25);
    width: 100%;
    scroll-snap-align: end;
}

.album-compact-horizontal {
    aspect-ratio: 1;
    background-color: var(--tertiary-25);
    height: 100%;
    scroll-snap-align: start;
}

/*
===================================================================================================
--- OTHER -----------------------------------------------------------------------------------------
===================================================================================================
*/

.content-hider {
    background-color: var(--primary);
    bottom: 0;
    height: 90vh;
    left: 0;
    opacity: 1;
    position: fixed;
    width: 100vw;
    z-index: 999;
    transition: opacity 250ms ease;
}